.figure {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("back.png");
    background-size: cover;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}