<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .left-section {
            flex: 1;
            padding: 40px;
            background-color: rgba(187, 187, 189, 0.99);
        }
        .right-section {
            flex: 2;
            padding: 40px;
            border-left: 1px solid #ccc;
        }
        h1 {
            color: black;
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            margin-top: 10px;
        }
        input[type="text"] {
            width: 80%;
            padding: 8px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        button:hover {
            background-color: #45a049;
        }
        .find-input {
            width: 40%;
            margin-right: 10px;
            margin-left: 10px;
        }
        .chat-container {
            font-size: 16px;
        }
        .sign-out {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 1px;
        }
        .chat-rules {
            text-align: center;
            font-size: 12px;
            color: #888;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="left-section">
        <h1>Admin Panel</h1>
        <form method="post">
            <div class="chat-rules">
                Admin panel for edit users
            </div>
            <label>User name:</label>
            <input type="text"  name="name" class="find-input" />
            <label>Set status:</label>
            <input type="text"  name="status" class="find-input" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="submit-button">Submit</button>

        </form>
        <div class="sign-out">
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
    <div class="right-section">
        <div><label>List of Users:</label></div>
        <div th:each="user : ${users}" class="chat-container">
            <div>
                <span th:text="${user.username} + ':'"></span>
                <i th:text="${user.active}"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>