<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .left-section {
            flex: 1;
            padding: 40px;
        }
        .right-section {
            flex: 2;
            padding: 40px;
            border-left: 1px solid #ccc;
        }
        h1 {
            color: black;
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 8px;
        }
        input[type="text"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        .add-button {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .find-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0px;
            text-align: right;
        }
        .find-input {
            width: 60%;
            margin-right: 10px;
            margin-left: 10px;
        }
        .find-button {
            width: 25%;
            padding: 5px;
            background-color: gray;
            color: white;
        }
        .chat-container {
            font-size: 16px;
        }
        .sort-message {
            font-size: 12px;
            vertical-align: middle;
            margin-right: 10px;
        }
        .sign-out {
            text-align: center;
            margin-bottom: 1px;
        }
        .chat-rules {
            text-align: center;
            font-size: 12px;
            color: #888;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="left-section">
        <h1>FORUM CHAT</h1>
        <form method="post">
            <div class="chat-rules">
                Welcome to the chat! Be respectful and have fun.
                Write your question or just chat with the users of our resource
            </div>
            <label for="text">Text:</label>
            <input type="text" id="text" name="text" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="add-button">Add</button>
        </form>
        <div class="sign-out">
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
    <div class="right-section">
        <form action="/filter" method="post" >
            <div class="find-form">
                    <label class="sort-message">Sorted by name</label>
                    <input type="text"  name="filter" class="find-input" />
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit" class="find-button">Find</button>
            </div>
        </form>
        <div th:each="message : ${messages}" class="chat-container">
            <div>
                <span th:text="${message.name} + ':'"></span>
                <i th:text="${message.text}"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>

