<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .error-message {
            color: red;
            font-weight: bold;
            margin-top: 10px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        .back-button {
            background-color: gray;
            color: white;
            margin-right: 5px;
            margin-left: 10px; /* Изменено на margin-left */
            padding: 8.5px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        h2 {
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:if="${param.error}" class="error-message">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h2>Registration Form</h2>
    <div th:each="message : ${messages}" class="error-message">
        <div>
            <span th:text="${message}"></span>
        </div>
    </div>
    <form th:action="@{/registration}" method="post">
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div>
            <button type="submit">Create Account</button>
            <a href="/login" class="back-button">Back</a>
        </div>
    </form>
</div>
</body>
</html>